div#spin {
    color: #636162;
    background-color: #000;
    position: absolute;
    width: 830px;
    height: 400px;
    border-radius: 8px 8px;
    border: 1px #3E3E3E solid;
    opacity: 0.7;
    display: none;
}
