@charset "UTF-8";

h2##{h2id} {
    color: #990;
    font-size: 10px;
}
    
/*----------------------------------------------------------------
 FORM
----------------------------------------------------------------*/

div#query {
    font: bold 16px calibri;
    color: #636162;
    position: relative;
    width: 830px;
    border-radius: 8px 8px;
    border: 1px #3E3E3E solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Spinner */

div#spinnerSurface {
    background-color: #111;
    position: absolute;
    border-radius: 8px 8px;
    opacity: 0.7;
    z-index: 2;
    display: none;
    margin-left: -15px;
    margin-top: -15px;
}

/* General LABELS & INPUTS */

label {
    position: relative;
    margin-left: 10px;
    display: inline;
    vertical-align: center;
}

input {
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    vertical-align: center;
}


/* CONVERT URL */

label#url {

}

input#urlText { 
    width: 550px;
}
    
input#goButton {
}
    
/* TITLE */

label#title {

}

input#titleText {
    margin-left: 90px;
}


/* AUTHOR */

label#author {
    
}
    
input#authorText {
    margin-left: 73px;
}

    
input#convertButton {
    margin-left: 10px;
}

    
/* CONVERTED FILE */

label#convertedFile {
}
    
a.convertedFile {
    margin-left: 20px;
}
    
/* SEND EMAIL */

label#sendToKindle {
    
}
    
input#sendToKindleText {
    margin-left: 20px;
}


/* BUTTONS */
input#goButton, input#convertButton, input#sendToKindleButton {
    width: 80px;
}

input#convertButton {
    margin-left: 330px;
}

.urlEntered, .converted, .convertedKindle {
    display: none;
}

progress#loadingTitle {
  margin-left: 5px;
  margin-right: 5px;
  display: none;
}

