@charset "UTF-8";

h2##{h2id} {
    color: #990;
    font-size: 10px;
}
    
/*----------------------------------------------------------------
 FORM
----------------------------------------------------------------*/

div#query {
    font: bold 16px calibri;
    color: #636162;
    position: relative;
    width: 830px;
    margin-top: 140px;
    margin-left: 60px;
    border-radius: 8px 8px;
    border: 1px #3E3E3E solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* General LABELS & INPUTS */

label {
    position: relative;
    margin-left: 10px;
    display: inline;
    vertical-align: center;
}

input {
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    vertical-align: center;
}


/* CONVERT URL */

label#url {

}

input#url { 
    width: 550px;
}
    
input#goButton {
}
    
/* TITLE */

label#title {

}

input#title {
    margin-left: 90px;
}


/* AUTHOR */

label#author {
    
}
    
input#author {
    margin-left: 73px;
}

    
input#convertButton {
    margin-left: 10px;
}

    
/* CONVERTED FILE */

label#convertedFile {
    
}
    
a#convertedFile {
    margin-left: 20px;
    
}
    
/* SEND EMAIL */

label#email {
    
}
    
input#email {
    margin-left: 20px;
}

input#emailButton {
}   

    
/* BUTTONS */
input#goButton, #convertButton, #emailButton {
    width: 80px;
}

input#convertButton {
    margin-left: 330px;
}

/* Controls to become visible only once url has been entered */
.urlEntered {
    display: none;
}

/* Controls to become visible only once page has been converted */
.converted {
    display: none;
}

progress#loadingTitle {
  display: none;
}

